
// colors

$purple: #623e80;
$white: white;
$light-blue: #2c9ab7;
$silver: rgb(83, 81, 81);
$black: black;
$orange: #ff9900;
$amzn-dark:#232f23;
$light-orange:#f6e1c5;
$med-orange:#e6a756;
$dark-orange: #b7492c;
$green:rgb(36, 67, 36);
$teal: #1abc9c;


// fonts
$font-regular: 'Montserrat', sans-serif;
$font-cursive: 'Shadows Into Light', cursive;
$font-ember:  'Amazon Ember', 'Lucida Sans', 'Lucida Sans Regular',
'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

$myFontSize:0.7em;